<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="./css/loginStyle.css">
</head>

<body>
    <h1>Login</h1>
    <div id="wrapper">
        <form id="signin" action="/login" method="post" autocomplete="off">
            <input type="email" id="email" name="email" placeholder="email" required>
            <input type="password" id="pass" name="password" placeholder="password"  required>
            <button type="submit">&#xf0da;</button>
            <p>Not registered? <a href="/register">Register now</a></p>
        </form>

    </div>
    
</body>

</html>