<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="./css/registerStyle.css">
</head>

<body>
    <h1>Registration</h1>
    <div id="wrapper">
        <form id="register" action="/register" method="post" autocomplete="off">

            <input type="email" id="email" name="email" placeholder="email" required>
            <input type="password" id="password" name="password" placeholder="password"  required>
            <button type="submit">&#xf0da;</button>
            <p>already registered? <a href="/login">Login</a></p>
    
        </form>
    </div>
    

</body>

</html>